#/SWP_Project/nbproject/private/
#/SWP_Project/nbproject/*
# /SWP_Project/build.xml
# /SWP_Project/web/META-INF/context.xml
# /SWP_Project/build/web/META-INF/context.xml
#/SWP_Project/build/*

#/SWP_Project/dist/*
# /SWP_Project/nbproject/private/private.properties

/SWP_Project/SWP_Project/nbproject/private/
/SWP_Project/nbproject/private/
/SWP_Project/build/


# /SWP_Project/SWP_Project_Online_Shop/nbproject/private/
# /SWP_Project_Online_Shop/nbproject/private/
# /SWP_Project_Online_Shop/build/
/SWP_Project/dist/
