

section.range-slider-quantity-sold {
    
}
section.range-slider {
	 position: relative;
	 width: 120px;
	 height: 40px;
	 float: left;
	 text-align: center;
}
 section.range-slider input[type="range"] {
	 pointer-events: none;
	 position: absolute;
	 -webkit-appearance: none;
	 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	 border: none;
	 border-radius: 14px;
	 background: #f1efef;
	 box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
	 -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
	 overflow: hidden;
	 left: 0;
	 top: 20px;
	 width: 120px;
	 outline: none;
	 height: 14px;
	 margin: 0;
	 padding: 0;
}
 section.range-slider input[type="range"]::-webkit-slider-thumb {
	 pointer-events: all;
	 position: relative;
	 z-index: 1;
	 outline: 0;
	 -webkit-appearance: none;
	 width: 14px;
	 height: 14px;
	 border: none;
	 border-radius: 14px;
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413f41));
	/* android <= 2.2 */
	 background-image: -webkit-linear-gradient(top, #dad8da 0, #413f41 100%);
	/* older mobile safari and android > 2.2 */
	 background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
	/* W3C */
}
 section.range-slider input[type="range"]::-moz-range-thumb {
	 pointer-events: all;
	 position: relative;
	 z-index: 10;
	 -moz-appearance: none;
	 width: 14px;
	 height: 14px;
	 border: none;
	 border-radius: 14px;
	 background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
	/* W3C */
}
 section.range-slider input[type="range"]::-ms-thumb {
	 pointer-events: all;
	 position: relative;
	 z-index: 10;
	 -ms-appearance: none;
	 width: 14px;
	 height: 14px;
	 border-radius: 14px;
	 border: 0;
	 background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
	/* W3C */
}
 section.range-slider input[type="range"]::-moz-range-track {
	 position: relative;
	 z-index: -1;
	 background-color: rgba(0, 0, 0, 1);
	 border: 0;
}
 section.range-slider input[type="range"]:last-of-type::-moz-range-track {
	 -moz-appearance: none;
	 background: none transparent;
	 border: 0;
}
 section.range-slider input[type="range"]::-moz-focus-outer {
	 border: 0;
}

/*** Spinner Start ***/
.add-product-table{
    margin-bottom: 20px;
}

.product-table > tr, th, td{
    /*color: red;*/
    border: solid 1px rgba(0, 0, 0, 0.4);
}
.product-table, .product-table > table{
    border-collapse: collapse;
}
/*.product-table tr:first-child td:first-child, th:first-child{
    width: 20px;
    color: red;
}*/
.number-in-stock-width{
    width: 6.5%;
}
.price-width{
    width: 7.7%;
}
.quantity-sold-width{
    width: 7%;
}
.product-detail-width{
    width: 8%;
}
.category-width{
    width: 3%;
}


.brand-width{
    width: 6%;
}
.hardware-width{
    width: 8%;
}
.ram-width{
    width: 5.6%;
}
.screen-size-width{
    width: 8%;
}
.resolution-width{
    width: 8.9%;
}
.color-width{
    width: 7%;
}
.graphic-card-width{
    width: 13%;
}
.price-width{
    width: 8%;
}
.image-width{
    width: auto;
}
.action-width{
    width: 9%;
}
.search-table > tbody > tr:nth-child(2) > td > select{
    height: 26px;
}
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/hero-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ffd195, #ffb283);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
/*  background: linear-gradient(45deg, #ffd195, #ffb283);*/
}
.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}
