<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowAllProducts</servlet-name>
        <servlet-class>controller.AdminShowAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductOption</servlet-name>
        <servlet-class>controller.AddProductOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.customer.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.customer.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.customer.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.customer.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>controller.user.AddReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReview</servlet-name>
        <servlet-class>controller.user.DeleteReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReview</servlet-name>
        <servlet-class>controller.user.EditReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfile</servlet-name>
        <servlet-class>controller.user.EditUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.user.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOtherProfile</servlet-name>
        <servlet-class>controller.user.LoadOtherProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReview</servlet-name>
        <servlet-class>controller.user.LoadReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.user.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUser</servlet-name>
        <servlet-class>controller.user.LoadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactList</servlet-name>
        <servlet-class>controller.CustomerService.ContactList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSentContact</servlet-name>
        <servlet-class>controller.customer.ViewSentContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContact</servlet-name>
        <servlet-class>controller.customer.UpdateContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryManList</servlet-name>
        <servlet-class>controller.DeliveryManList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>controller.admin.AddNewUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowAllProducts</servlet-name>
        <url-pattern>/AdminShowAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductOption</servlet-name>
        <url-pattern>/AddProductOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReview</servlet-name>
        <url-pattern>/deletereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReview</servlet-name>
        <url-pattern>/editreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfile</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOtherProfile</servlet-name>
        <url-pattern>/loadotherprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReview</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUser</servlet-name>
        <url-pattern>/loaduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactList</servlet-name>
        <url-pattern>/ContactList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSentContact</servlet-name>
        <url-pattern>/ViewSentContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContact</servlet-name>
        <url-pattern>/UpdateContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryManList</servlet-name>
        <url-pattern>/DeliveryManList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/AddNewUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepageView/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
